<footer>
	<div class="container wrapper">
		 <div class="footer">
		  <div class="row">
			<div class="col-3">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda nobis, id et incidunt eveniet vel quisquam quo saepe voluptates velit nihil nam ex vero quibusdam dolore, quia nisi sint commodi!
			</div>
			<div class="col-9">
			<i class="fa fa-address-book-o" aria-hidden="true"></i>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, maxime quia aperiam accusamus ratione, nam, magni ducimus esse excepturi similique culpa impedit  pariatur natus quibusdam rerum rem! Aspernatur, at, dolor.
			</div>
		  </div>
		</div>
	</div>
</footer>